.nekopara{
    font-family: "comicregular";
}

.uidiv{
    margin-left: 380px;
    margin-top: -243px;
    width: calc(98% - 380px);
}

.uiimg{
    width: 100%;
}

.titlelevel2{
    font-family: 'comicbold';
    font-size: 'medium';
    color: rgba(59,90,155 ,1)
}
.picgroup{
    justify-content: center;
    gap:10px;
    display: flex;
}
@media (max-width:500px) {
    .picgroup{
        display: inline;
    }
}
@media (max-width: 1100px) {
    .uidiv{
        margin-left: 0px;
        margin-top: 0px;
        width: 98%;
    }
}